
html {
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
}

button{
  cursor: pointer;
  border-radius: 3px;
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  white-space: nowrap;
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 11px 12px 8px;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 15px 2px;
  max-width: 1605px;
  border-bottom: 1px solid #e2e2e2;
}
.nav-logo {
  height: 26px;
  width: 195px;
}
#left-controls, #right-controls {
  display: flex;
}
#left-controls > * {
  padding: 9px; 
}
#left-controls :first-child {
  margin-right: 9px; 
}
#left-controls :last-child {
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-size: 14.25px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  line-height: 19px;
  letter-spacing: 0.7;
}

#left-controls svg, #right-controls svg {
  height: 16px;
  width: 16px;
}

#right-controls {
  justify-content: space-around;
}
#right-controls :first-child {
  margin-right: 7px;
}

#right-controls-collapsed {
  display: flex;
  justify-content: end;
  font-size: 10px;
  text-transform: uppercase;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  color: rgb(50, 104, 145);
  padding: 6px;
}
#right-controls-collapsed a {
  padding: 0 8px;
  text-decoration: none;
  color: rgb(50, 104, 145)
}
.nav-divider {
  width: 1px;
  background: #d1d1d1;
}
@media only screen and (min-width: 1024px) {
  #right-controls-collapsed, .account {
    display: none;
  }

}

@media only screen and (max-width: 1024px) {
  .search, .article-title, #right-controls button {
    display: none;
  }
  .account {
    display: block;
  }
  nav {
    padding: 10px 15px 6px;
  }
  #nav-logo {
    height: 30px;
    width: 225px;
  }
}
/* MAIN CONTENT GRID */
#grid-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1.25fr 1.25fr 1fr;
  grid-auto-rows: auto;
}

@media only screen and (min-width: 600px) {
  
}

article h1 {
  grid-column: 2 / 4;
  max-width: 403px;
  margin-top: 40px;
}
#article-image {
  grid-column: 1 / -1;
}
#article-image img {
  width: 100%;
}

.caption {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  max-width: 900px;
  padding: 8px 16px;
  color: #666;
}
.credit {
  display: block;
  color: rgb(136, 136, 136);
  font-size: 0.75rem;
}

.author {
  grid-column-start: 2;
  margin-bottom: 15px;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 600;
}

.meta {
  grid-column: 2 / -2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.date {
  color: #333;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-size: 0.8125rem;
  line-height: 1rem;
}
.article-controls {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
  list-style-type: none;
}
.article-controls li {
  margin-right: 16px;
  cursor: pointer;
}
.article-controls li:last-child {
  margin: 0;
}

.social {
  background: #eee;
  border: 1px solid #eee;
  border-radius: 50%;
  padding: 5px;
  height: 15px;
  width: 15px;
}
.comments {
  color: rgb(0, 0, 0);
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  position: relative;
  cursor: pointer;
}
.comments {
  background: transparent;
  height: 25px;
  min-width: 24px;
  border: 1px solid #333;
  border-radius: 5px;

}

.main-content {
  grid-column: 2 / span 2;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.main-content img {
  width: 100%;
}
.main-content iframe {
  width: 100%;
}
.main-content .caption {
  margin: 0;
  padding: 0;
}



.caption-top {
  grid-column: 1 / -1;
  margin-bottom: 10px;
}
.caption-top h2 {
  margin: 0 0 2px 0;
  font-size: 1.25rem;
}
.caption-top p {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #666;
  margin: 0;
}

.image-grid-container {
  position: relative;
  grid-column: 1 / -1;
  min-width: 720px;
}

.image-grid-container img {
  /* Have the image span the entire width of the grid */
  width: 100%;  
}
.image-grid-container .credit {
  color: #000;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-family: nyt-franklin,arial,helvetica,sans-serif;
}
.image-grid-container .credit:before {
  height: 1px;
  width: 60px;
  content: "";
  background: #000;
  display: block;
  margin: 0 0 13px;
}

/* User nested grid and relative/absolute positioning to add info to each section of the image */
.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  grid-gap: 6px;
  grid-template-rows: 1fr 1fr 0.25fr;
}
.image-grid p {
  position: relative;
  top: 50%;
  height: 50%;
  font-size: .65rem;
  line-height: 1rem;
  line-height: 0.9rem;
  font-family: sans-nyt-franklin,arial,helvetica,sans-serif;
  margin: 0;
}


/* can't figure out why the NYT page has more vertical space for content in their image (I'm using the same image?)
    so I reduce the font size and line height to prevent the text from overflowing */
@media only screen and (min-width: 864px) {
  .image-grid p {
    font-size: 0.75rem;
    line-height: 1rem;

  }
}

.coa {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.25rem;
  font-family: sans-nyt-franklin,arial,helvetica,sans-serif;
}
.coa a {
  display: block;
  text-decoration: none;
  color: rgb(50, 104, 145);
}
.coa:before {
  content: "";
  height: 1px;
  width: 60px;
  background: #ccc;
  display: block;
  margin-bottom: 18px;
}
.coa:after {
  content: "";
  height: 1px;
  width: 60px;
  background: #ccc;
  display: block;
  margin-top: 18px;
}

.afterword {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  width: calc(100% - 40px);
  max-width: 600px;
  color: rgb(102, 102, 102);
}

.article-controls-bottom {
  margin-top: 10px;
  grid-column-start: 2;
  display: flex;
  justify-content: space-between;
}

#more-content {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 16px;
  margin: 64px 0;
}
#more-content img{
 width: 100%;
}

.sidebar {
  grid-row: 2 / -1;
  margin: 0;
  padding: 0;
}
.sidebar li {
  list-style-type: none;
  margin: 0;
  padding: 16px 0;
  border-top: 1px solid#efefef;
}
.left {
  grid-column: 1 / -1;
}
.right {
  display: none;
  grid-column-start: -2;
}

.header {
  padding: 16px 0;
  margin-top: 16px;
  border-top: 1px solid black;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 600;
  letter-spacing: -0.025rem;
}

.preview h3 {
  font-size: 1.125rem;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 6px;
}
.preview-caption {
  font-size: 0.625rem;
  margin: 0;
  text-align: right;
  color:
  rgb(153, 153, 153);
  }

.time {
  font-size: 0.75rem;
  color: rgb(153, 153, 153);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  letter-spacing: 0.3px;
}

@media only screen and (min-width: 600px) {
  #more-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 740px) {
  #more-content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 1fr 1fr 50px;
  }
  .left {
    grid-column: 1 / -2;
  }
  .right {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  #more-content {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 1fr 1fr 50px 1fr;
  }
}

/* FOOTER SITE-INDEX */

#site-index-wrapper {
  position: relative;
}
#site-index {
  border-top: 2px solid #e2e2e2;
  padding: 0 30px;
}
#site-index:before {
  content: "";
  width: 100%;
  border-top: 1px solid #e2e2e2;
  position: absolute;
  top: 3px;
  left: 0;
}

.go-back {
  color:#567b95;
  font-family: sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

#site-index ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#site-index li {
  font-weight: 600;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 13px;
  padding: 22px 0;
  border-top: 1px solid #e2e2e2;
}

#grid-index { 
  display: none;
}

#grid-index ul li {
  padding: 6px 0;
  border: none;
  font-weight: 500;
  text-transform: capitalize;
}

footer {
  font-size: 11px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #e2e2e2;
}

.copyright {
  padding-top: 8px;
  padding-bottom: 16px;
}

footer a {
  text-decoration: none;
  color: #666;
  padding: 0 8px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

footer li {
  display: inline-block;
  padding: 8px 0;
}

@media only screen and (min-width: 1150px) {
  #mobile-index {
    display: none;
  }
  #grid-index { 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}